<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<div id="container" style="min-width: 500px; height: 600px; margin: 0 auto"></div>

<script>
fetch('http://localhost:8000/ipldataset/problems/three')
.then( (resp) => resp.json())
.then((data)=> plot_chart(data))

function generate_data_as_suitable_to_graph(data){
    data_in_array_formate = []
    team_names = []
    extra_runs = []
    data['data'].forEach(element => {
        arr = []
        arr.push(element['bowling_team'])
        arr.push(element['extra_runs'])
        data_in_array_formate.push(arr)
    });
    return data_in_array_formate
}
function plot_chart(data){
    data_in_array_formate = generate_data_as_suitable_to_graph(data)

Highcharts.chart('container', {

    chart: {
        type: 'column',
    },
    title: {
        text: 'No of extra runs conceded per team in 2016'
    },
    xAxis: {
        type: 'category',
        labels: {
        style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
        },

        },
        title: {
        text: 'Team Name'
        }
    },
    yAxis: {
        min: 0,
        title: {
        text: 'No of runs'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} runs</b>'
    },
    series: [{
        name: 'Matches',
        data: data_in_array_formate,
        dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        format: '{point.y}',
        y: 10,
        style: {
            fontSize: '15px',
            fontFamily: 'Verdana, sans-serif'
        }
        }
    }]
    });
}
</script>