<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<div id="container" style="min-width: 500px; height: 600px; margin: 0 auto"></div>

<script>
fetch('http://localhost:8000/ipldataset/problems/one')
.then( (resp) => resp.json())
.then((data)=> plot_chart(data))

function generate_data_as_suitable_to_graph(data){
    data_in_array_format = []
    for(let x in data){
        temp_array = []
        temp_array.push(x)
        temp_array.push(data[x])
        data_in_array_format.push(temp_array)
    }
    return data_in_array_format
}
function plot_chart(data){
    data_in_array_format = generate_data_as_suitable_to_graph(data)

Highcharts.chart('container', {

    chart: {
        type: 'column',
    },
    title: {
        text: 'No of matches played in every season'
    },
    xAxis: {
        type: 'category',
        labels: {
        style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
        },

        },
        title: {
        text: 'Season'
        }
    },
    yAxis: {
        min: 0,
        title: {
        text: 'No of match'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} matches</b>'
    },
    series: [{
        name: 'Matches',
        data: data_in_array_format,
        dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        format: '{point.y}',
        y: 10,
        style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
        }
        }
    }]
    });
}
</script>